.header {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.596);
}

.site-slogan {
  width: 420px;
  margin-left: 50px;
  text-align: center;
}

h1 {
  font-size: 45px;
}
