<nav class="navbar">
  <div class="navbar__logo-wrapper">
    <h2 class="navbar__logo-text">{{ siteName }}</h2>
  </div>
  <div class="navbar__item-wrapper">
    <ul class="navbar__items">
      <li class="navbar__item"><a href="" class="navbar__link">home</a></li>
      <li class="navbar__item"><a class="navbar__link" href="">about</a></li>
      <li class="navbar__item"><a href="" class="navbar__link">products</a></li>
      <li class="navbar__item"><a class="navbar__link" href="">contact</a></li>
    </ul>

    <app-search></app-search>
  </div>
</nav>
