.navbar {
  &__logo-text {
    color: coral;
  }

  &__logo-wrapper {
    margin: 20px 0px;
  }

  &__items {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    text-transform: uppercase;
  }
}
