.search {
  width: 600px;
  text-align: right;
  margin-top: -6px;
  &__input {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    border-radius: 0.2rem;
    border: 2px solid #434343;
    padding-left: 8px;
    margin-right: 20px;
  }
}
